<div class="col-md-1">
</div>
<div class="col-md-10">
	<h1 align="center">Jon's Course Catalog Site</h1>
	<br>
	<p align="center">New user? <%= link_to "Sign up now!", signup_path %></p>
	<p align="center">Returning user? <%= link_to "Log in here!", login_path %></p>
</div>
<div class="col-md-1">
</div>